@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(0, 0, 0);
} 
.gradient{
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(217, 217, 217, 0.20) 16.83%, #D9D9D9 50.23%, rgba(217, 217, 217, 0.20) 82.74%, rgba(217, 217, 217, 0.00) 100%)
}

.shadow{
  box-shadow: 0px 44px 50px 0px rgba(0, 0, 0, 0.50);
}
@font-face {
  font-family: 'DentonTestThin100';
  src: url('./fonts/DentonCondensedTest-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'PPNeueMontreal';
  src: url('./fonts/PPNeueMontreal-Book.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
.denton{
  font-family: DentonTestThin100;
}
.PPNeue500{
  font-family: PPNeueMontreal;
}
::-webkit-scrollbar {
  display: none;
}